:root{
    --color : rgb(3, 3, 21);
}

#button19{
    text-decoration: none;
    border: 2px solid aqua;
    color: var(--color);
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    transition: all 800ms ease;
}

#button19:before, #button19:after{
    content: 'Hover Me !';
    position : absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--color);
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms;
}
#button19:after{
    transform: translate(-150%) rotateY(360deg) scale(0);
    opacity: 0;
}
#button19:hover:before{
    transform: translate(150%) rotateY(360deg) scale(0);
    opacity: 0;
}

#button19:hover:after{
    transform: translate(0%) rotateY(0deg) scale(1);
    opacity: 1;
}




#button20{
    text-decoration: none;
    border: 2px solid aqua;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    transition: all 400ms ease;
}

#button20:before{
    content: '';
    position: absolute;
    opacity: 0;
    bottom: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border: solid aqua;
    border-width: 0 0 2px 2px;
    transition: all 200ms ease;
}

#button20:after{
    content: '';
    position: absolute;
    opacity: 0;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: solid aqua;
    border-width: 2px 2px 0 0;
    transition: all 200ms ease;

}

#button20:hover:before{
    opacity: 1;
    bottom: -10px;
    left: -10px;
}
#button20:hover:after{
    opacity: 1;
    top: -10px;
    right: -10px;
}
#button20:hover{
    background-color: aqua;
    color: var(--color);
}



#button21{
    text-decoration: none;
    border: 2px solid aqua;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    transition: all 400ms ease;
}
#button21:hover{
    animation: shake 300ms ;
}

@keyframes shake{
    33%{
        transform: rotate(10deg);
    }
    66%{
        transform: rotate(-10deg);
    }
    99%{
        transform: rotate(10deg);
    }
}







#button22{
    text-decoration: none;
    border: 2px solid aqua;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    overflow: hidden;
    transition: all 400ms ease;
}

#button22:before{
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    width: 10%;
    height: 100%;
    z-index: -1;
    background-color: aqua;
    transform: skew(-20deg);
    transition: all 500ms;
    animation: shine 1500ms linear infinite;
}

#button22:hover{
    color: var(--color);
}
#button22:hover:before{
    width: 100%;
    transform: skew(0deg);
    left: 0;
    animation: none;
}

@keyframes shine{
    0%{    
        left: -25%;
    }
    100%{
        left: 110%;
    }
}




#button23{
    text-decoration: none;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    overflow: hidden;
    transition: all 400ms ease;
}

#button23::before , #button23::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2%;
    background-color: aqua;
    transition: all 500ms;
}
#button23::before{
    top: 0;
    left: 0;
}  
#button23::after{
    bottom: 0;
    right: 0;
}

#button23:hover::before,#button23:hover::after{
    width: 100%;
}






#button24 {
    text-decoration: none;
    border: 2px solid aqua;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    perspective: 700px;
    background-color: var(--color);
    transition: all 400ms ease;
}

#button24::after , #button24::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid aqua;
    transition: all 500ms ease;
}
#button24::after{
    z-index: -2;
}
#button24::before{
    z-index: -1;
}

#button24:hover{
    color: var(--color);
    background-color: aqua;
}
#button24:hover:after{
    transform: rotate(45deg);
}
#button24:hover::before{
    transform: rotate(-45deg);
}






#button25{
    border-radius: 10px;
    text-decoration: none;
    color: aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 400ms ease;
}
#button25::after{
    border-radius: 10px;
    content: '';
    position: absolute;
    width: 98%;
    height: 96%;
    left: 1%;
    top: 2%;
    background-color: var(--color);
    z-index: -1;
}
#button25::before{
    content: '';
    position: absolute;
    top: -150%;
    left: 30%;
    z-index: -2;
    width: 30%;
    height: 400%;
    
    background-color: aqua;
    animation: rotateBackground 2s infinite linear;
}

@keyframes rotateBackground{
    from{transform:  rotate(0deg);}

    to{transform:  rotate(360deg);}
}