:root{
    --color : rgb(3, 3, 21);
}

#button5{
    text-decoration: none;
    color: aqua;
    border: 2px solid aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;
}

#button5::before{
    content : '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: aqua;
    transform-origin: bottom left;
    transform: rotateZ(-90deg) ;
    transition: all 700ms ease;
}

#button5:hover:before{
    transform: rotateZ(0);
}
#button5:hover{
    color: var(--color);
}


#button6{
    text-decoration: none;
    color: aqua;
    border: 2px solid aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;
}

#button6::before{
    content : '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: aqua;
    transform-origin: bottom right;
    transform: rotateZ(90deg) ;
    transition: all 700ms ease;
}

#button6:hover:before{
    transform: rotateZ(0);
}
#button6:hover{
    color: var(--color);
}


#button7{
    text-decoration: none;
    color: aqua;
    border: 2px solid aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;
}

#button7::before , #button7::after{
    content : '';
    position:absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: aqua;
    transition: all 700ms ease;
}
#button7::before{
    left: 0;
    transform-origin: bottom left;
    transform: rotateZ(-90deg) ;
}
#button7::after{
    right: 0;
    transform-origin: bottom right;
    transform: rotateZ(90deg) ;
}

#button7:hover:before , #button7:hover::after{
    transform: rotateZ(0);
}
#button7:hover{
    color: var(--color);
}