:root{
    --color : rgb(3, 3, 21);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--color);
    margin: 0;
}
header{
    text-align: center;
    padding: 20px;
}
#button{
    text-decoration: none;
    color: aqua;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;
}

#container{
    width: 100%;
    position: relative;
    display: grid;
}

@media screen and (min-width : 950px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 950px) and (min-width : 750px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width : 750px) and (min-width : 500px) {
    #container{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width : 500px) and (min-width : 50px) {
    #container{
        grid-template-columns: 1fr;
    }
    
}
.box{
    height: 200px;
    border: 2px solid aqua;
    display: flex;
    color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box a{
    font-weight: 200;
}

.names{
    font-weight: 400;
    margin: 0; 
    transform: translateY(-20px);
}
.names i{
    margin-left: 5px;
    cursor: pointer;
}

.download{
    color: aqua;
}

