:root{
    --color : rgb(3, 3, 21);
}

body{
    background-color: var(--color);
}

#container{
    width: 100%;
    position: relative;
    border: 2px solid aqua;
    display: grid;
}

@media screen and (min-width : 950px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 950px) and (min-width : 750px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width : 750px) and (min-width : 500px) {
    #container{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width : 500px) and (min-width : 50px) {
    #container{
        grid-template-columns: 1fr;
    }
    
}
.box{
    height: 200px;
    border: 2px solid red;
    display: flex;
    color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.names{
    margin: 0; 
    transform: translateY(-20px);
}
.names i{
    margin-left: 5px;
    cursor: pointer;
}

#button1{
    text-decoration: none;
    color: aqua;
    border: 2px solid aqua;
    font-size: 30px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms ease;
}

#button1::before{
    content: '';
    position: absolute;
    background-color: aqua;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 500ms ease;
}

#button1:hover::before{
    transform: translateX(0);
}
#button1:hover{
    color: var(--color);
    transform: translateX(0);
}