:root{
    --color : rgb(3, 3, 21);
}

body{
    background-color: var(--color);
}

#container{
    width: 100%;
    position: relative;
    border: 2px solid aqua;
    display: grid;
}

@media screen and (min-width : 950px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 950px) and (min-width : 750px) {
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (max-width : 750px) and (min-width : 500px) {
    #container{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width : 500px) and (min-width : 50px) {
    #container{
        grid-template-columns: 1fr;
    }
    
}
.box{
    height: 200px;
    border: 2px solid red;
    display: flex;
    color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.names{
    margin: 0; 
    transform: translateY(-20px);
}
.names i{
    margin-left: 5px;
    cursor: pointer;
}

.download{
    color: aqua;
}

