* {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(237, 242, 249);
    
}


@media screen and (min-width: 900px) {


    
    /* Navbar Thing */
    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 400ms ease;
        background-color: rgb(237, 242, 249);
        padding: 0px 10px;
    }

    #leftThing {
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
    
    .btn{
        padding: 20px 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
    
    
    
    .menu{
        width: 30px;
        height: 2px;
        transition: all 100ms ease-in-out;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;
    }
    .menu::after , .menu::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        transition: all 100ms linear;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;       
    }

    .btn:hover .menu , .btn:hover .menu::after , .btn:hover .menu::before{
        background-color: #232e3c;
    }


    .menu::after{
        transform: translateY(-500%);
    } 
    .menu::before{
        transform: translateY(500%);
    }

    .btn.open .menu{
        transform: rotate(90deg);
        background: transparent;
    }
    .btn.open .menu::before , .btn.open .menu::after{
        transform: translate(0);
        position: block;
    }    
    
    .btn.cross .menu::before{
        transform: rotate(45deg);
    }    
    .btn.cross .menu::after{
        transform: rotate(-45deg);
    }

    





    .navTabsContainer {
        display: flex;
        column-gap: 20px;
        font-size: 20px;
        line-height: 10px;
        align-items: center;
    }
    .navTabsContainer a {
        cursor: pointer;
        align-items: center;
        transition: all 300ms ease;
        color: rgb(93, 93, 93);
    }
    .navItem:hover {
        color: black;
        ;
    }

    #profileImage{
        width: 30px; 
        border-radius: 50%;
    }








    
    
}

























/* Alternate Desgin */

@media screen and (min-width: 50px) and (max-width : 899px) {

    body{
        background-color: black;
    }
    /* Navbar Thing */
    #navbar {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        transition: all 400ms ease;
        background-color: rgb(237, 242, 249);
        padding: 0px 10px;
    }

    #leftThing {
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
    }
    
    .btn{
        padding: 20px 10px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
    
    
    .menu{
        width: 30px;
        height: 2px;
        transition: all 150ms ease-in-out;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;   
    }
    .menu::after , .menu::before{
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        transition: all 150ms linear;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;       
    }
    .menu::after{
        transform: translateY(-500%);
    } 
    .menu::before{
        transform: translateY(500%);
    }

    .btn:hover .menu , .btn:hover .menu::after , .btn:hover .menu::before{
        background-color: #232e3c;
    }

    .btn.open .menu{
        transform: rotate(90deg);
        background: transparent;
    }
    .btn.open .menu::before , .btn.open .menu::after{
        transform: translate(0);
        position: block;
    }    
    
    .btn.cross .menu::before{
        transform: rotate(45deg);
    }    
    .btn.cross .menu::after{
        transform: rotate(-45deg);
    }

    





    .navTabsContainer {
        display: flex;
        column-gap: 20px;
        font-size: 20px;
        line-height: 10px;
        align-items: center;
    }
    .navTabsContainer a {
        cursor: pointer;
        align-items: center;
        transition: all 300ms ease;
        color: rgb(93, 93, 93);
    }
    .navItem:hover {
        color: black;
        ;
    }

    #profileImage{
        width: 30px; 
        border-radius: 50%;
    }





}





/* Galaxy Fold ! */
@media screen and (min-width: 50px) and (max-width : 400px) 
{

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 400ms ease;
        background-color: rgb(237, 242, 249);
        padding: 5px 0px;
    }


    .logoContainer {
        padding: 8px;
    }
    .logoContainer img {
        margin-left: 3px;
        width: 55px;
    }

    .navTabsContainer {
        display: flex;
        column-gap: 15px;
        font-size: 15px;
        line-height: 10px;
        align-items: center;
    }
    
    #profileImage{
        width: 25px; 
        border-radius: 50%;
    }

    #leftThing {
        position: relative;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
    }

    .btn{
        padding: 15px 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }
    
    
    
    .menu{
        width: 20px;
        height: 2px;
        transition: all 150ms ease-in-out;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;   
    }
    .menu::after , .menu::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        transition: all 150ms linear;
        background-color: rgb(93, 93, 93);
        border-radius: 5px;       
    }

    .btn:hover .menu , .btn:hover .menu::after , .btn:hover .menu::before{
        background-color: #232e3c;
    }

    .menu::after{
        transform: translateY(-400%);
    } 
    .menu::before{
        transform: translateY(400%);
    }

    .btn.open .menu{
        transform: rotate(90deg);
        background: transparent;
    }
    .btn.open .menu::before , .btn.open .menu::after{
        transform: translate(0);
        position: block;
    }    
    
    .btn.cross .menu::before{
        transform: rotate(45deg);
    }    
    .btn.cross .menu::after{
        transform: rotate(-45deg);
    }
}