
body::-webkit-scrollbar {
    display: none;
}

#navbtn:active , #navbtn:focus{
    box-shadow: none;
}

.nav-link:hover{
    transition: all 200ms ease;
    color: #0d6efd !important;
}

.dropdown-item:hover{
    transition: all 300ms ease;
    color: white !important;
    background-color: #0d6efd !important;
}

.centerMe{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}



@media screen and (min-width:992px)
{
    
    #slideContent , #slideContentInner{
        background-color: rgb(241 237 237);
    }
    #slideImg{
        border-bottom-right-radius: 50%; 
        border-top-right-radius: 50%; 

    }
    #slideImgDiv{
        background: linear-gradient(to right, #fff 50%, rgb(241 237 237) 50%);
    }
}


@media screen and (max-width:991px)  and (min-width:768px)
{
    #slideContentInner , #slideContent{
        background-color: white ;
    }
    #slideImgDiv{
        background: none;
        background-color: #fff;
    }
}

@media screen and (min-width:10px)  and (max-width:992px)
{
    #slideContentInner{
        background-color: rgb(241 237 237);
        border-radius: 20px;
    }
    #slideImg{
        margin-bottom: 20px !important;
    }
}

#clideCOntentInner{
    z-index: 3;
}

#btn2{
    position: relative;
    right: 0%;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0d6efd;
    z-index: 4;
}

#btn1{
    position: relative;
    left: 0%;   
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #0d6efd;
    z-index: 4;
}


#myMail{
    text-decoration: none;
}
#myMail:hover{
    text-decoration: underline;
}


#formerForm input:hover{
    transition: 200ms all ease;
}

.links:hover{
    cursor: pointer !important;
    transition: 200ms all ease;
    color: #0d6efd !important;
    text-decoration: underline !important;
}