@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
    
}

body {
    background-color: rgb(237, 242, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#heading2{
    font-family: 'Poppins', sans-serif;
    display: none;
}



@media screen and (min-width:750px) 
{
    #heading1{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    #formContainer {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        background-color: rgb(210, 227, 252);
        padding: 30px;
        border-radius: 30px;
    }
    
    #form {
        font-family: 'Poppins', sans-serif;
        padding: 20px;
    }
    
    #form input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 10px 0px;
        margin: 10px 10px;
        width: 100%;
        transition: all 300ms ease;
    }
    
    #form button {
        cursor: pointer;
        border: none;        background-color: red;
        background-color: #2d56f8a1;
        color: white;
        padding: 10px 0px;
        margin: 20px 10px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    #form textarea:focus, #form input:focus {
        outline: none;
        transform: scale(1.1);
        /* border-bottom: 2px solid red; */
    }
    
    
    #formSvg img {
        width: 350px;
    }    
    
}






















@media screen and (min-width:580px)  and (max-width : 749px)
{
    body{
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #heading1{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    #formContainer {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        background-color: rgb(210, 227, 252);
        padding: 20px;
        border-radius: 30px;
    }
    
    #form {
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }
    
    #form input {
        font-size: 10px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 5px 0px;
        margin: 5px 5px;
        width: 100%;
    }
    
    #form button {
        cursor: pointer;
        border: none;
        background-color: #2d56f8a1;
        color: white;
        padding: 5px 0px;
        margin: 20px 5px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    textarea:focus, input:focus {
        outline: none;
        font-size: 13px;
    }
    
    #formSvg img {
        width: 210px;
    }    
    
}





























@media screen and (min-width:50px)  and (max-width : 579px)
{

    body{
        padding: 0px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }
    
    #heading1{visibility: hidden;}
    
    
    #formContainer {
        margin-top: 20px;
        vertical-align: center;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
        background-color: rgb(210, 227, 252);
        padding: 10px;
        border-radius: 30px;
    }

    #heading2{
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
        display:flex;
        text-align: center;
    }
    
    #form {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }
    
    #form input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 5px;
        margin: 8px;
        width: 100%;
    }
    
    #form button {

        cursor: pointer;
        border: none;
        background-color: #2d56f8a1;
        color: white;
        padding: 5px;
        margin: 20px 5px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    textarea:focus, input:focus {
        outline: none;
    }
    
    #formSvg {display: none;}    
    
}


