@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
    
}

body {
    background-color: rgb(237, 242, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
#heading2{
    font-family: 'Poppins', sans-serif;
    display: none;
}

@media screen and (min-width:750px) 
{
    #heading1{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    #formContainer {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 40px;
        background-color: rgb(210, 227, 252);
        padding: 30px;
        border-radius: 30px;
    }
    
    #form {
        font-family: 'Poppins', sans-serif;
        padding: 20px;
    }
    
    #form input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 10px 0px;
        margin: 0px 10px;
        width: 100%;
    }
    
    #form button {
        cursor: pointer;
        border: none;
        background-color: #2d56f8a1;
        color: black;
        padding: 10px 0px;
        margin: 20px 10px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    textarea:focus, input:focus {
        outline: none;
    }
    
    #formSvg img {
        width: 350px;
    }    
    
}




@media screen and (min-width:580px)  and (max-width : 749px)
{

    #heading1{
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    
    #formContainer {
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        background-color: rgb(210, 227, 252);
        padding: 20px;
        border-radius: 30px;
    }
    
    #form {
        font-family: 'Poppins', sans-serif;
        padding: 10px;
    }
    
    #form input {
        font-size: 10px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 5px 0px;
        margin: 0px 5px;
        width: 100%;
    }
    
    #form button {
        cursor: pointer;
        border: none;
        background-color: #2d56f8a1;
        color: black;
        padding: 5px 0px;
        margin: 20px 5px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    textarea:focus, input:focus {
        outline: none;
    }
    
    #formSvg img {
        width: 250px;
    }    
    
}







@media screen and (min-width:50px)  and (max-width : 579px)
{

    body{
        padding: 10px;
    }
    
    #heading1
    {
        display: none;
    }
    
    
    #formContainer {
        margin-top: 20px;
        vertical-align: center;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
        background-color: rgb(210, 227, 252);
        padding: 15px;
        border-radius: 30px;
    }

    #heading2{
        font-family: 'Poppins', sans-serif;
        font-size: 150%;
        display:flex;
        text-align: center;
    }
    
    #form {
        font-family: 'Poppins', sans-serif;
        padding: 5px;
    }
    
    #form input {
        font-size: 15px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: transparent;
        color: black;
        padding: 5px 0px;
        margin: 0px 5px;
        width: 100%;
    }
    
    #form button {
        cursor: pointer;
        border: none;
        background-color: #2d56f8a1;
        color: black;
        padding: 7px;
        margin: 20px 5px;
        width: 100%;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    
    #form button:hover {
        background-color: #2650f8;
    }
    
    textarea:focus, input:focus {
        outline: none;
    }
    
    #formSvg {display: none;}    
    
}
