@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luxurious Roman', cursive;;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

#container{
    position: absolute;
    z-index: 2;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 1rem;
    filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 2px solid white;
}
#container2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    z-index: 2;
    width: 80%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 1rem;
    border: 2px solid white;
    animation: 2s border ease alternate infinite;
}


#happyBirthday{
    color: #fff;
    text-align:center;
    font-size:7vw
}

#date{
    color: #fff;
    text-align:center;
    font-size:5vw;
    margin-top:10px;
}

.content1{
    margin-top: 10px;
    color: #fff;
    text-align: center;
    opacity: 0;
}


#t1{
    animation: fadein 2s 4s  linear forwards ;
}
#t2{
    animation: fadein 2s 8s  linear forwards ;
}


@keyframes fadein {

    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes border {
    0%{
        border: 2px solid #f702e8;
    }
    100%{
        border: 2px solid white;
    }
}

