body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#iconbutton{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: flex;
    /* border: 2px solid red; */
    overflow: hidden;
}
.sub {
    font-size: 20px;
    color: yellow;
    background-color: rgb(15, 58, 15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 30px;
    height: 30px;
    padding: 20px;
    transition: all 800ms ease;
    /* transform: translateX(-400%); */
}

/* #iconbutton::after , #iconbutton::before{
    content: '';
    position: absolute;
    left: 20%;
    top: 50%;
    width: 30%;
    border: 3px solid white;
    border-radius: 20px;
    transition: all 0.5s ease;
} */

/* #iconbutton:enabled:before{
    transform: rotate(180deg);
}
#iconbutton:active::after{
    transform: rotate(270deg);
} */
/* #iconbutton:hover .sub{
    transform: translateX(200%);
}
#iconbutton:hover{
    overflow:visible;
} */


#maincontainer2{
    width: 100%;
    padding: 10px;
    /* border: 20px solid rgb(130, 70, 6); */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    display: none;
    word-wrap: break-word;
    word-break: break-all;
    column-gap: 10px;
    position: relative;
}    


#middlecontainer{
    position: absolute;
    z-index: -2;
    /* z-index: 20; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 800ms ease;
}


.nav-item i{
    color: yellow ;
    font-size: 20px;
    margin: 5px;
}

.nav-link{
    background-color: rgb(15, 58, 15);
    border-radius: 50%;
    margin: 5px;
}

@media screen and (max-width : 600px) {
    .nav-item i{
        font-size: 13px;
        padding: 0;
    }
    
}


#container2{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    position: relative;
    background-color: green;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 10px solid rgb(94, 51, 5);
    box-shadow: black -3px 6px 9px -6px inset;
    border-radius: 10px;
}

.blocks {
    width: 100%;
    height: 50px;
    background-color: green;
    position: relative;
    border: 2px solid black;
    cursor: pointer;
}

.innerBlock {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: black;
}

.btn:hover {
    opacity: 0.8;
    /* background-color: rgb(136, 136, 14) !important; */
}

#playercontainer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    column-gap: 5px;
    row-gap: 15px;    
}

.playerContent *{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.playerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    color: yellow;
    padding: 5px;
    border: 2px solid green;
    border-radius: 10px;
    transition: 1 800ms ease;
    background: transparent;

    /* animation: 0.5s shine infinite alternate; */
    /* box-shadow: 0 0 10px #26bf47; */

    /* text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000; */
}

@keyframes shine {
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 0 0 10px #26bf47;   
    }
    
}

#box1{
    position: relative;
    right: 200%;
}


@keyframes activePlayer {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}


