body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width : 950px) {
    #maincontainer2{
        width: 100%;
        padding: 10px;
        border: 20px solid green;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        display: none;
        word-wrap: break-word;
        word-break: break-all;
        column-gap: 10px;
    }    
}
@media screen and (min-width : 50px) and (max-width:950px) {
    #maincontainer2{
        width: 100%;
        padding: 10px;
        border: 20px solid green;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        display: none;
        word-wrap: break-word;
        word-break: break-all;
        column-gap: 10px;
    }    
}


#container2{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    position: relative;
    background-color: green;
}

.blocks {
    width: 100%;
    height: 50px;
    background-color: green;
    position: relative;
    border: 2px solid black;
    cursor: pointer;
}

.innerBlock {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.btn:hover {
    opacity: 0.8;
    /* background-color: rgb(136, 136, 14) !important; */
}

.playerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playercontenttext {
    color: yellow;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
}