@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
    --fontFamily : Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --backgroundColor : #edf2f9;
    --navigationBarColor : rgb(209, 225, 248);
    --textColor : #5e6e82;
    --textHoverColor : #cad0d6;
    --activeTextColor : #2864c5;
    --hoverDarkColor : rgb(35, 43, 53);
    --buttonColor : rgba(44, 124, 229, 0.844);
    --buttonHover : rgb(44, 123, 229);
    --formBorder : #d8e2ef;
    --littleHeadings : #344050;
    --backgroundDark : #0b1727;
    --boxShadow : 0 .5rem 1rem rgba(0,0,0,.15) ;
}


#div5 , #div6{
    font-family: var(--fontFamily);
    box-shadow:  var(--boxShadow);
    padding: 0.6rem;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    overflow-y: scroll;
}
#div5::-webkit-scrollbar  , #div6::-webkit-scrollbar {
    display: none;
}


#liveClassContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.8rem;
    margin-top: 0.4rem;
    padding: 0.4rem;

}


.classSelector{
    display: flex;
    padding: 0.2rem;
    border-radius: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
}

.classHeading{
    font-weight: bolder;
    margin-left: 0.6rem;
}

.hostName{
    font-size: 0.8rem;
}




.classItem{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    width: 270px;
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: var(--backgroundColor);
    transition: box-shadow 200ms ease;
}

.classItem:hover{
    box-shadow: var(--boxShadow);
}


.classDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: 2px solid red; */
}

.classTitle{
    font-weight: 700;
}

.classSubtopics{
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    /* border: 2px solid red; */
    list-style: none;
}


.classJoinButton{
    width: 80%;
    padding: 0.2rem;
    border: none;
    background-color: var(--buttonColor);
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
    transition: background-color 250ms ease;
    text-decoration: none; 
    font-weight: bolder;
}

.classJoinButton:hover{
    background-color: var(--buttonHover);
}










.timeDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


















#downloads{
    border-radius: 0.4rem;
    padding: 0.4rem;
    height: max-content;
    /* background-color: var(--backgroundColor); */
}
#downloadOptionContainer{
    padding: 0.2rem;
    display: flex;
    column-gap: 0.5rem;
}
.downloadOptions , #addFileForm button{
    padding: 0.4rem;
    border: none;
    background-color: var(--buttonColor);
    cursor: pointer;
    color: white;
    border-radius: 0.2rem;
    transition: background-color 250ms ease;
}
.downloadOptions:hover , #addFileForm button:hover{
    background-color: var(--buttonHover);
    
}


#downloadContainer{
    background-color: var(--backgroundColor);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin-top: 1rem;
    /* overflow-y: scroll; */
    
}
#downloadContainer form , #addFileForm{
    
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    /* overflow-y: scroll; */
}
#downloadContainer form input , #addFileForm input{
    cursor: pointer;
}
#downloadContainer form input:focus , #addFileForm input:focus , #downloadContainer form input:active , #addFileForm input:active
, #addFileForm select:focus, #addFileForm select:active, #addFileForm button:focus, #addFileForm button:active{
    outline: none;
}

#downloadContainer .containerItem{
    cursor: pointer;
    border-radius: 0.2rem;
    border: 1px solid var(--textColor);
    background-color: white;
    padding: 0.3rem;
    transition: box-shadow 300ms ease;
}

#downloadContainer .containerItem:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.20);
}

.containerItem a{
    color: var(--littleHeadings);
    text-decoration: none;
    
}

#addFileForm{
    padding: 0.4rem;
    row-gap: 0.6rem;
    width: 100%;
    
}

#addFileForm input , #addFileForm select{
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.6rem;
    border: 1px solid var(--formBorder);
    background-color: #fff;
    border-radius: 0.3rem;
    text-transform: none;
    font-size: 0.9rem;
    transition: 200ms ease;
    cursor: pointer;
    
}
#addFileForm button{
    padding: 0.6rem;
}


@media screen and (max-width : 6000px) and (min-width : 1701px) 
{
    #div5 , #div6{
        width: 56rem;
    }
    #liveClassContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 1700px) and (min-width : 1501px) 
{
    #div5 , #div6{
        width: 48rem;
    }
    #liveClassContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 1500px) and (min-width : 1251px) 
{
    #div5 , #div6{
        width: 80%;
    }
    #liveClassContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width : 1250px) and (min-width : 901px) 
{
    #div5 , #div6{
        width: 70%;
    }
    #liveClassContainer{
        grid-template-columns: 1fr 1fr ;
    }
}

@media screen and (max-width : 900px) and (min-width : 701px) 
{
    #div5 ,#div6{
        width: 30rem;
    }
    #liveClassContainer{
        grid-template-columns: 1fr ;
    }
    /* #liveClassContainer .classItem{
        margin: auto;
    } */
}



@media screen and (max-width : 700px) and (min-width : 50px) 
{

    #div5 , #div6{
        width: 100%;
        height: 100%;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    .downloadOptions{
        padding: 0.4rem;
        font-size: 0.7rem;
    }
    
    #liveClassContainer{
        grid-template-columns: 1fr;
        gap: 1rem;
        /* column-gap: 0.4rem;
        row-gap: 0.8rem; */
        margin-bottom: 1.2rem;
    }

    .classHeading{
        font-size: 0.8rem;
    }

    .hostName{
        font-size: 0.7rem;
    }

    .classItem{
        width: auto;
    }

    .classJoinButton{
        font-size: 0.8rem;
        padding: 0.4rem;
    }


    #liveClassLaunchContainer{
        margin-bottom: 1.4rem;
    }

    .timeDiv{
        /* width: 100%; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* flex-direction: column;
        justify-content: space-between;
        align-items: center; */
    }


}